{% extends 'dummpy.html' %}

{% block title %}
<title>Sinup</title>
{% endblock %}

{% block content %}
<style>
    .message
    {
        background-color: rgb(16, 114, 201);
        width: 200px;
        height: 300px;
    }
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #999999;
	word-wrap: break-word;
}


.chatbox-holder {
  position: fixed;
  right: 0px;
  top:10px;
  display: grid;
  width: 50%;
  height: 500px;
  align-items: flex-start;
  border: 2px solid cyan;
}

.chatbox {
  width: 50%;
  height: 500px;
  margin: 0 0px 0 0;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-flow: column;
  border-radius: 10px 10px 0 0;
  background: rgb(241, 172, 172);
  bottom: 0;
  transition: .1s ease-out;
}

.chatbox-top {
  position: relative;
  display: flex;
  padding: 10px 0;
  border-radius: 10px 10px 0px 0px ;
  width: auto;
  color: aliceblue;
  height: 80px;
  background:white;
}

.chat-partner-name, .chat-group-name {
  flex: 2;
  padding: 0 0 0 95px;
  margin: 3% 0 0 3%;
  font-size:large;
  font-weight:bold;
  color: #15171a;
  text-shadow: 1px 1px 0 white;
  transition: .1s ease-out;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #cacaca;
  margin: 0 3px 0 0;
}

.online {
  background: #b7fb00;
}

.away {
  background: #ffae00;
}

.donot-disturb {
  background: #ff4343;
}

.chatbox-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(31, 28, 28);
  padding: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  position: absolute;
  transition: .1s ease-out;
  bottom: 0;
  left: 6px;
}

.chatbox-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-messages {
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding: 10px;
  overflow: auto;
  display: flex;
  background-color:rgb(243, 177, 130);
  flex-flow: row wrap;
  font-size: large;
  align-content: flex-start;
  flex: 1;
  overflow-y: scroll

}

.message-box-holder {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.message-sender {
  font-size: 12px;
  margin: 0 0 15px;
  color: #30649c;
  align-self: flex-start;
}
.message-recever {
  font-size: 12px;
  color: #30649c;
  margin: 10px 0 0px;
  align-self: flex-end;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
  color: #30649c;
  text-decoration: none;
}

.message-box {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  background: rgba(100, 170, 0, .1);
  border: 2px solid rgba(100, 170, 0, .1);
  color: #6c6c6c;
  font-size: 12px;
}

.message-box:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, .2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.message-partner {
  background: rgba(0, 114, 135, .1);
  border: 2px solid rgba(0, 114, 135, .1);
  align-self: flex-start;
}

.message-partner:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, .2);
  border-left: none;
}

.chat-input-holder {
  border-top: 1px solid rgba(0, 0, 0, .1);
  position: relative;
}

.chat-input {
  padding: 15px 10px;
  width: 364px;
  max-height: max-content;
  font-size: 14px;
  color: #999999;
  margin-left: 30%;
  padding-bottom: 20px;
  box-sizing: content-box;

}
.message-send
{
    background-color: rgb(71, 128, 227);
    position: absolute;
    top: 0px;
    left: 58%;
    padding: 8px 12px;
    border-radius: 20px;
}
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  .chatbox-holder {
    top: 5%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    
  }
  .chatbox 

  {
    width: 100%;
    height: 100%;
  }

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
  .chatbox-holder {
    top: 5%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    
  }
  .chatbox 

  {
    width: 100%;
    height: 100%;
  }

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
  .chatbox-holder {
    top: 5%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    
  }
  .chatbox 

  {
    width: 100%;
    height: 100%;
  }

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
  .chatbox-holder {
    top: 5%;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    
  }
  .chatbox 

  {
    width: 100%;
    height: 100%;
  }

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
  .chatbox-holder {
    top: 5%;
    width: 50%;
    height: 100%;
    right: 10px;
   
    
  }
  .chatbox 

  {
    width: 50%;
    height: 100%;
    left: 50px;
  }

}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
  .chatbox-holder {
    top: 10%;
    width: 70%;
    height: 90%;
    right: 10px;
    
  }
  .chatbox 

  {
    width: 100%;
    height: 100%;
  }

}


</style>
<div>
  
</div>
    <div class="chatbox-holder">
        <div class="chatbox">
            <div class="chatbox-top">
                <div class="chatbox-avatar">
                    <a target="_blank" href="https://www.facebook.com/mfreak"><img src="https://gravatar.com/avatar/2449e413ade8b0c72d0a15d153febdeb?s=512&d=https://codepen.io/assets/avatars/user-avatar-512x512-6e240cf350d2f1cc07c2bed234c3a3bb5f1b237023c204c782622e80d6b212ba.png" /></a> 
                </div>
                <div class="chat-partner-name">
                    <span class="status online"></span>
                    <a target="_blank" href="https://www.facebook.com/mfreak">{{us.username}}</a>
                </div>     
            </div>
          
          <div class="chat-messages">
            {% for x in ms %}
            {% if x.message %}
            <div class="message-box-holder">
              <div class="message-box">
                <h1>{{x.message}}</h1>
              </div>
              <div class="message-recever">
                {{x.username}}
              </div>
            </div>
            {% endif %}
            
            {% if x.replay %}
            <div class="message-box-holder">
              <div class="message-sender">
                 {{x.reusername}}
               </div>
              <div class="message-box message-partner">
                <h1>{{x.replay}}</h1>
              </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
          <div class="chat-input-holder">
            <form method="POST">
                {% csrf_token %}
                <a href="">k</a>
                <a href="">e</a>
                <input type="text" class="chat-input" name="message">
                <br>
                <br>
                <input type="submit" value="Send" class="message-send" />
            </form>
          </div>
        </div>
        </div>
    </div>


{% endblock %}